*{
   box-sizing: border-box;
}
#heading{
   text-align: center;
}
.picDescription{
   display: flex;
   flex-direction: row;
   gap: 1.5rem;
}
#skinTypes{
   background-image: url(../img/texture2.jpg);
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }  
}