*{
   box-sizing: border-box;
}
#heading{
   text-align: center;
}
.picDescription{
   display: flex;
   flex-direction: row;
   gap: 1.5rem;
}
#skinTypes{
   background-image: url(../img/texture2.jpg);
}