@font-face {
    font-family: Spectral;
    src: url(fonts/Spectral-Bold.ttf);
}
@font-face {
    font-family: Chivo;
    src: url(fonts/Chivo-VariableFont_wght.ttf);
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Chivo", sans-serif;
    font-size: 1em;
    line-height: 1.1;
    color: #0C343D;
    background-color: #F7EFE6;
}
.logo {
    text-decoration: none;
    color: #0C343D;
    font-family: "Spectral", serif;
    font-size: 3.5em;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 20px 0 8px;
}
.logo a {
    text-decoration: none;
    color: #0C343D;
}

.homepage {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
/*Navbar*/
nav {
    flex: 0 1 auto;
}
.nav-items {
    padding: 0;
    border-top: solid 1px #0C343D;
    border-bottom: solid 1px #0C343D;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.nav-item {
    padding: 0.5em 1em;
}
.nav-item a {
    text-decoration: none;
    color: #0C343D;
}
.nav-item a:hover {
    font-weight: 700;
}
.nav-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-item-heading {
    padding-right: 5px;
}
.nav-item-container img {
    width: 20px;
    height: 20px;
}
.dropdown-menu {
    position: absolute;
    top: calc(8.5em + 20px);
    width: auto;
    border: solid 1px #0C343D;
    background-color: #F7EFE6;
    overflow: hidden;
}
.dropdown-menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}
.dropdown-item {
    width: 220px;
    border-top: solid 1px  #0C343D;
}
.dropdown-item a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0.5em 1em;
}
.dropdown-item:hover {
    font-weight: 700;
}

/*Homepage*/
.hero-container {
    flex: 1 1 auto;
    background: linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.35)), url(../img/home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.hero-text {
    text-align: center;
    font-size: 1.5em;
    max-width: 60%;
}
.button {
	pointer-events: auto;
	cursor: pointer;
	background: #e7e7e7;
	border: none;
	padding: 1.5rem 3rem;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.button--pandora, .button--disabled {
	background: #0C343D;
	font-weight: 700;
    font-size: 1.3em;
	padding: 0;
}

.button--pandora span, .button--disabled span {
	display: block;
	background: #6FA8DC;
	padding: 0.55rem 1.6rem;
	transform: translate3d(-4px, -4px, 0);
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}
.button--pandora:hover span {
    background-color: #00498B;
	transform: translate3d(0, 0, 0);
    color: #ffffff;
}

/*Quiz*/
#quiz-items {
    height: 100vh;
}
.questions-container {
    height: 100%;
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question-title {
    font-weight: 400;
    font-size: 1.3em;
    text-align: center;
}
.choices-container {
    max-width: 65%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.choice-btn {
    min-width: 223px;
    background-color: #ffffff;
    border-radius: 0;
    border: solid 1px #0C343D;
    color: #0C343D;
    font-family: "Chivo", sans-serif;
    margin: 10px 15px 20px;
    padding: 0.55rem 1.6rem;
    font-size: 1.17em;
}
.active {
    background-color: #EA9999;
}
.hidden {
    display: none;
}

/*Skin Concerns Page*/
.title-container {
    height: 43vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/texture.jpg);
    background-size: cover;
    background-position: center;
}
.title-page {
    font-family: "Spectral", serif;
    font-size: 4em;
    margin: 0;
    text-align: center;
}
.info-cards {
    margin: 50px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-card {
    max-width: 1220px;
    padding-bottom: 20px;
}
.info-container {
    display: grid;
    grid-column-gap: calc(1rem * 2 + 1px);
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1fr;
}
.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}
.card-title h2 {
    padding-right: 10px;
    font-size: 1.75em;
}
.card-title hr {
    width: 100%;
    border-left: none;
}
.info-container img {
    grid-row: 1 / 1;
    grid-column: span 6;
    width: 100%;
}
.info-container div {
    grid-row: 1 / 1;
    grid-column: span 5;
    display: flex;
    flex-direction: column;
}
.info-container div a {
    padding: 20px;
    align-self: center;
}

/*Footer*/
footer {
    border-top: solid 1px #0C343D;
    margin: 0 15px 20px;
}
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 15px;
    padding-top: 20px;
}
.footer-items {
    padding: 0.5em;
    list-style: none;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}
.footer-title {
    padding-left: 1em;
    display: flex;
    flex-direction: column;
}
.footer-title a {
    text-decoration: none;
    color: #0C343D;
    font-weight: 700;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
}
.nested-footer-items {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.footer-item {
    padding: 0.25em 1em;
}
.copyright {
    text-align: center;
    margin: 0;
    padding: 10px 0;
}